

:root{
    --main-black:#000000;
    --main-white:#f0f0f0;
    --main-blue: #0f63ff;
    --main-gray:#d3d3d3;
    
    }

    /*Base reset */
    *{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        /* box-sizing: border-box; */
    }

    html{
        box-sizing: border-box;
        height: 100%;
        /* font-size: 16px; */
        /* font-family: 'Spartan', sans-serif; */
    }

    body{
        display: block;
        text-align: center;
    }

    ul{
        list-style: none;
        
    }

    li{
        display: inline;
        /* float: left; */
    }

    a{
        text-decoration: none;
        color: var(--main-black);
       
    }

    img{
        display: block;
        margin-top:100px;
        margin-left:auto;
        margin-right:auto;
      
        width: auto;
        
        
    }
   

      .nav-header{
          /* background-color: aquamarine; */
          display: flex;
          justify-content: flex-end;
          padding-top:20px;
          padding-bottom: 20px;
      }

      .nav-header li{
          padding-right: 10px;
      }

      .nav-header li a {
          /* background-color: #0f63ff; */
          /* font-size: 14px; */
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
      }

      .item3 a{
        background-color: #0f63ff;
        border-radius: 5px;
        color:#f0f0f0;
      }

      .nav-header li a:hover{
          text-decoration: underline;

      }
      
  

      form{
          /* background-color: red; */
          margin-top: 20px;
          padding: 20px;
      }
    #search{

        width: 600px;
        height: 30px;
        border-radius: 50px;
        border:0.5px solid #d3d3d3;
        padding: 5px;
        padding-left: 20px;

    }

    #search:hover{
        box-shadow: 2px 2px 2px #d3d3d3 ;
    }

    button{
        background-color:#f5f3f3;
        margin:20px;
        border: none;
        color:#000000;
        padding:10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: all 0.5s;
       cursor: pointer;
    }

    button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      button:hover span {
        padding-right: 25px;
      }
      
      button:hover span:after {
        opacity: 1;
        right: 0;
      }

      .language p a{
          color: #0f63ff;
      }

      .language p a:hover{
          text-decoration:underline;
      }

      footer{
          background-color: rgb(245, 241, 241);
          position: fixed;
          bottom: 0;
          width: 100%;
      }

      hr{
          background-color: #d3d3d3;
          margin-right:10px;
      }

      .container{
          display: grid;
          padding:5px;
      }
      .country{
          display: grid;
          justify-items: flex-start;
          /* background-color: #0f63ff; */
          width: 100%;
          padding: 10px;
          padding-left: 20px;


      }
      .container-2{
          display: grid;
          grid-template-columns:1fr 1fr;
          /* background-color: aqua; */
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .footer-left{
          display: grid;
          /* background-color: brown; */
          justify-items: flex-start;
          padding-left: 20px;
      }

      .footer-right{
          display: grid;
          /* background-color: coral; */
          justify-items:flex-end;
          padding-right: 20px;
      }

      .container ul li a{
        margin-right:10px;
        
      }

      .container ul li a:hover{
          text-decoration: underline;
      }


      

  

  

   